@namespace svg "http://www.w3.org/2000/svg";

svg {
  background-color: #fafafa;
  }
  
svg:not(:root) { 
	overflow: hidden; 
}

#canvas-logo, canvas{

	background-color: #edede7;
	object-fit:contain;
}