@media (not (screen and (color))), print and (color){}

  * { font-family: serif;

    /* In case you made an filter abuse 2012 . Delfi ;) */
	background: transparent !important; 
	color: black !important; 
	box-shadow: none !important; 
	text-shadow: none !important; 
	filter: none !important; 
	-ms-filter: none !important; 
}

	html,body {background-color:#FFF; color:#000; font-size: 12pt; font-size-adjust:none; font-style:normal; font-variant:normal; font-weight:normal;
}
	i{ font-style: normal;}
	strong { font-weight: bold; }
	em, dfn { font-style: italic; }
	dfn { font-weight: bold; }
	pre, code { margin: 1.625em 0; white-space: pre; }
	pre, code, tt { font: 1em monospace; line-height: 1.5; } 
	tt { display: block; margin: 1.625em 0; }
	hr { margin-bottom:1.625em; }

	ul{ list-style-position:outside; }
	li ul, li ol  { margin:0 1.625em;  }
	ul, ol { margin: 0 0 1.625em 0; }

	img  {max-width: 100%;}
	h1,h2,h3,h4,h5,h6 {page-break-after: avoid;}
	ul, ol, li {page-break-inside: avoid;}
	table table,tr,td {page-break-before: avoid;page-break-after: avoid;}
	header, nav, aside, #postcomment, #commentform, .read-more, footer, video, audio {display: none;}
	a:link:after,
	a:visited:after,
	a:visited:after { content: " (" attr(href) ") ";}
	a[href^="/"]:after,
	a[href^="/"]:after,
	a[href^="#"]:after,
	a[href^="javascript"]:after,
 	a[href^="#"]:after { content: ""; }

	*[hidden] { display: none; }
 	 p, h2, h3 { orphans: 3; widows: 3; }


 	#wrapper, #content {
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	}
	img { max-width: 100% !important; }
  @page { margin: 0.5cm; }

}
