
@media screen {
    * { font-family: serif; }
    html {}
    body {
        font-size: 62.5%;
        text-align:center;
    }
}

@media projector{

}

@media tv{


}

@media speech, aural{


}
/*
Handheld

Good for older versions of Opera Mobile.

PS: REmember, Hack for windows mobile ( media ="Screen");

*/
@media handheld{
    
 .handheld{
    width:80%;
    max-width:80%;
    height: auto;
    min-height: 100px;
    height: auto !important;
    overflow:hidden;

}
}
/*
2012 Oct: Avoid device-aspect-ratio for sites intended to be displayed across multiple devices*/

@media screen and (device-aspect-ratio: 16/9) {  }
@media screen and (device-aspect-ratio: 32/18) {  }
@media screen and (device-aspect-ratio: 1280/720) {  }
@media screen and (device-aspect-ratio: 2560/1440) { }
@media only screen {
    /* "Advanced" CSS2 and CSS3 comes here to hide styles from older browsers 
                Yes mates, besides one's low budget and incidental hurry, 
                elders deserve some kinda respect ;)

    */
  body {
        text-rendering:optimizeLegibility;
    }

  header, nav, footer{

        width:100%;
    }

  section, article, aside{
        float:left;
    }

    /* Corporate Classes */

  header hgroup {
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }

    /* helpers from bootstrap . Add yer ones if needed */

  button,
  input,
  select,
  textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
  }

  button,
  input {
    *overflow: visible;
    line-height: normal;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

article > p {

  column-gap: 20px; column-rule: 2px solid #333; 
}

.wide{

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    
    }


  footer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
/*CSS3 text colours background selected. To be applied in certain sections. 20 Oct 2012 */
::selection {
    background: yellow; /* WebKit, Opera, & IE9 */
    color: #4b4b4b;
}

::-moz-selection {
    background: yellow; /* Firefox */
    color: #4b4b4b;
}


::-webkit-input-placeholder  { color:#4e4e4e; font-style:italic; }
input:-moz-placeholder { color:#4e4e4e; font-style:italic; }
}

/*----------------------------------------*/

@media only screen and (max-device-width : 480px){
dl {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto !important;
}

}
@media only screen and (max-device-width: 980px) {

}