@import url("corporate-fonts.css") screen, print;

@media screen {
  * { font-family: serif; }
  html {}
  body {
  		font-size: 62.5%;
  	  	text-rendering:optimizeLegibility;}
  section, aside{
  	float:left;
  }
}

@media print{

  * { font-family: serif; }

}
  body {
  	font-size: 12pt;
  	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
	i{ font-style: normal;}
	strong { font-weight: bold; }
	em, dfn { font-style: italic; }
	dfn { font-weight: bold; }
	pre, code { margin: 1.625em 0; white-space: pre; }
	pre, code, tt { font: 1em monospace; line-height: 1.5; } 
	tt { display: block; margin: 1.625em 0; }
	hr { margin-bottom:1.625em; }

	ul{ list-style-position:outside; }
	li ul, li ol  { margin:0 1.625em;  }
	ul, ol { margin: 0 0 1.625em 0; }



@media projector{



}

@media tv{


}

@media speech, aural{


}

@media screen and (device-aspect-ratio: 16/9) {  }
@media screen and (device-aspect-ratio: 32/18) {  }
@media screen and (device-aspect-ratio: 1280/720) {  }
@media screen and (device-aspect-ratio: 2560/1440) { }

@media only screen {
    /* "Advanced" CSS2 and CSS3 comes here to hide styles from older browsers 
		Yes, mates, besides your low budget and hurry, elders deserve some kinda respect ;)

    */
header, nav, footer{

	width:100%;
};
}