/*Corporate syles */

*{

}
/* Document ---------------------------------------------------- */
html{}
html> body{}
body{}
/* Hyperlinks ---------------------------------------------------- */
a{}
a:hover{}
a:active{}
a:focus{}

/* Presentational tags ---------------------------------------------------- */
img{}
p{}
i{}
u{}
wbr{}
hr{}
br{}
blockquote{}


/* Headings ---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { 
font-weight : normal; }

h1 { 
margin-bottom : .5em;
font-size : 3em; 
line-height : 1; }

h2 { 
margin-bottom : .75em;
font-size : 2em; }

h3 {
margin-bottom : 1em;
font-size : 1.5em;
line-height : 1 ; }

h4 {
margin-bottom : 1.25em;
font-size : 1.2em;
line-height : 1.25; }

h5, h6 { 
margin-bottom : 1.5em;
font-weight : bold; 
font-size : 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { 
margin : 0; }
h1 img a, h2 img a, h3 img a, h4 img a, h5 img a, h6 img a { 
border:none; }


/* Lists -------------------------------------------------------------- */

li ul, li ol { 
list-style-type : none;
margin : 0 1.5em .75em 1.5em; }

ul, ol {
margin : 0 1.5em 1.5em 0; }

ul { 
list-style-type : none; }

ol {
list-style-type : decimal; }

dl {
margin-bottom: 1.5em; 
padding-top: 1.5em; 
border-top : 1px solid #a8a8a8; }

dl dt {
margin-bottom : .75em;
font-size : 1.2em;
line-height : 1.25; }

dd {
margin-bottom: 1.5em; 
padding-bottom: 1.5em; 
border-bottom : 1px solid #a8a8a8; }

/* Semantic HTML5 tags -------------------------------------------------------------- */
address{}
article{}
aside{}
command{} /*Coming soon*/
datafield{}
figure{}
figcaption{}
footer{}
header{}
hgroup{}
menu{}
picture{}  /* Coming soon ;) */
nav{}
section{}

/* Forms -------------------------------------------------------------- */
form {}
fieldset{}
legend{}
button{}
textarea{}
select{}
option{}
checkbox{}
input[type="color"]{

	
}
input[type="date"]{

	
}
input[type="email"]{

	
}
input[type="number"]{

	
}
input[type="range"]{

	
}
input[type="text"]{


}
input[type="tel"]{


}
input[type="search"]{


}
input[type="url"]{

	
}

/* IDS -------------------------------------------------------------- */

#wrapper{}
#our-mission{}
#our-vision{}
#our-values{}


/* Classes -------------------------------------------------------------- */

.left{float:left;}
.right{float:right;}
.clearleft{clear:left;}
.clear{clear:both;}

/*Header */
.corporate-logo{}

/*Content */

/*Footer */

/*  Copyright v 0.1 2012 authors_name for company_name

Corporate CSS Theme is distributed under the GNU General Public License, Version 2,
 June 1991. Copyright (C) 1989, 1991 Free Software Foundation, Inc., 51 Franklin
 St, Fifth Floor, Boston, MA 02110, USA

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

