
/*Corporate syles  media 1024 */

@import url('fonts/corporate-fonts.css');
@import url(test/debugger.css);
/*Reset  ---------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
/*End Reset  ---------------------------------------------------- */
html.corp{overflow-x:hidden;overflow-y:auto}
body{line-height:1}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}
/* Document ---------------------------------------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }
html> body {
    font-family: "Corporate", Georgia, serif;
    overflow-y:auto;
    font-size: 14px; 
    line-height: 1; 
    color: #4b4b4b; 
    position: relative; 
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    text-align:center;
    margin:0;
    padding:0;
    border:0;
}
html body{
    padding: 0 10px;
    min-width: 0;
    max-width: 100%;
    width: auto;
    height:100%;
}
:first-child+ html body, body, body#project{
    margin: 0;
    padding: 0;
    height: auto !important;
    background-attachment: fixed;
    text-align: center;
    color: #2a2a2a;
    font-size: 14px;
    line-height: 1.85em;
    border-top: 3px solid #040404;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

/* Hyperlinks ---------------------------------------------------- */

/* Oct 15 2010 helpers from Delfi Ramirez for nastymondays.com 

http://projects.delfiramirez.info/nastymondays/site-2010/

 */

a {
    color: #494949;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    outline: none;
}
a:hover {
    color:inherit;
    opacity:0.8;
    outline: 0;
}
a:active {
    color:inherit;
    outline: 0;
}
:focus, a{
    -moz-outline-style:none;
    outline:none !important;
}
/* Presentational tags ------------------------------------------- */
img {
    cursor:none;
    display:block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: none;
}
img {
    -ms-interpolation-mode: bicubic;	
}
img a {
    border:none;
}
img a:hover{
    opacity: 0.8;
}
p {
    line-height: 1.6; 
    margin-bottom: 0.675%;

}
i {
    font-style:normal;
}
u {
}
hr {

}
br {
    clear:left;
}
blockquote {
    font: 14px/22px serif;
    margin: 0.625em 0.625em 1.5em 0.725em ;
    padding-left: 15px;
    border-left: 2px solid #ccc;
}
blockquote:before { 
    content: "\275D"; 
}
blockquote:after { 
    content: "\275E"; 
}
abbr, acronym { 
    text-transform: none; /* uppercase */
    font-size: 91%; 
    color: #020202; 
    border-bottom: 1px solid #dedede; 
    cursor: help; 
}

/* Headings ---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    color:gray;
    font-weight: bold; 
    font-stretch: condensed;
    font-size-adjust: 0.5;

}
h1 {
    margin: 20px 0 30px;
    font-size: 2.6em;
    line-height: 1;
}
h2 {
    margin-bottom: .75em;
    font-size: 2em;
}
h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1;
}
h4 {
    margin-bottom: 1.25em;
    font-size: 1.2em;
    line-height: 1.25;
}
h5, h6 {
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 1em;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin : 0;
}
h1 img a, h2 img a, h3 img a, h4 img a, h5 img a, h6 img a {
    border: none;
}
/* Lists -------------------------------------------------------------- */
li a{
    *display:inline;
    display:inline-block;
}
li ul, li 
ol {
    list-style-type : none;
    margin : 0 1.5em .75em 1.5em;
}
ul, ol {
    margin : 0 1.5em 1.5em 0;
}
ul {
    list-style-type : none;
}
ol {
    list-style-type : decimal;
}
ol li ul, ol li ol { 
    margin-left: 1.250em; 
    margin-bottom: 0; 
}
dl {
    margin: 0 0 1.625em 0;
    padding-top: 1.5em;
    border-top : 1px solid #a8a8a8;
}
dl dt {
    margin-bottom : .75em;
    font-size : 1.2em;
    line-height : 1.25;
}
dd {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom : 1px dotted #a8a8a8;
}

/* Legibility */

strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.625em 0; }

/* 2010  helper style HR created by Rich Clark */
hr { 

    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;

 }



/* Semantic HTML5 tags ------------------------------------------------------ */
address {
    
}
article {
    width:auto;   
}

article > header{

  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
aside {
    float:left;
    width: 30%;
    height:auto;
}
details {
}
datalist{

     padding: 9px !important;  
     width:auto;
     min-width: 5em;

}
figure {
}
figcaption {
    font-style: italic;
    color: #ededed;
}
footer {
    clear:both;
    border-top:1px dotted rgba(255,255,255,0.9);
    text-align:left;
    width:auto;
    height:auto;
    min-height: 100%;
    padding: 14px 15px 15px;
    margin-bottom: 0;
    background-color: #f5f5f5;
}
header {
    text-align:left;
    padding: 0 10px;
}
hgroup {
    float:left;
    margin-left: .325em;
}
header > hgroup{
    text-align: center;
    margin: 1%;
}
mark {
    background-color:#ffff66;
    color:#000;
    font-style:italic;
    font-weight:bold;
 }
menu {
}
picture { /* Coming soon ;) */
}  
progress{
}
section {
    text-align:left;
}
small { 
    font-size:70%; 
    font-style:italic; 
    color:inherit;
}
summary {

}
/* Oct 15 2012 helpers from bootstrap.css

http://twitter.github.com/bootstrap

 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* Forms -------------------------------------------------------------- */

/* Oct 15 2012 helpers from bootstrap.css

http://twitter.github.com/bootstrap

Twitter Bootstrap have become a UI standard, so we use it to not disturb our users 

 */

select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
             box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
/*end helpers ----------------------------------------*/
form {
    margin: 0 0 1.941641em;
    padding:0;
    float:left;
    text-align:left;
    width:auto;
    box-sizing: border-box; 
}
fieldset {
    border:none;
    width:auto;
}
legend {
    display:inline-block;
    margin: 0 0 1.625em 0;
    color:inherit;
    width:auto;
    height:auto;

}

button {
    color: #fafafa;
    display:inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius:6px;
    text-align:center;
    cursor:pointer;
    font-size: .85em;
    background: #404040;
    padding:5px 9px;
    margin:1em auto;
    background-color:#020202;
}
button i{
    display:inherit;
    width:auto;
    padding:0.33%;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=checkbox],
input[type=radio],
textarea,
input,
input[type=text],
input[type=hidden],
input[type=password],
input[type=image]
{
    display: inline-block;
    white-space: nowrap;
}
input{
    font-size: 90%;
    font-style: italic;
    width:auto;
    min-width:10em;
}
input[type="radio"] {
    margin:0;
    padding:0;
}
input[type="checkbox"] {
}
input[type="color"] {

}
input[type="date"] {
}
input[type="datetime"] {
}
input[type="email"] {
    font-style: inherit;
    color:inherit;
}
input[type="file"] {

    /*helpers from quirksmode.org
    http://www.quirksmode.org/dom/inputfile.html
    */

    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
    background-color:gray;


}
input[type="number"] {
    letter-spacing:2px;
}
input[type="range"] {

}
input[type="submit"] {
    color: #fafafa;
    display:inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius:6px;
    text-align:center;
    cursor:pointer;
    font-size: .85em;
    background: #404040;
    padding:5px 9px;
    margin:1em auto;

}
input[type="text"] {
    font-style: inherit;
    color:inherit;
    font-size:inherit;
}
input[type="tel"] {
    font-style: inherit;
    color:inherit;
    font-size:inherit;
}
input[type="search"] {
    float:right;
    font-style: inherit;
    color:inherit;
    text-align:left;
    padding:5px 9px;
    margin:0;
    /*CSS3*/
    -webkit-appearance: textfield;
}
input[type="url"] {
    font-style: inherit;
    color:inherit;
}
input[placeholder], [placeholder], *[placeholder]
{
    color:#ccc !important;
    font-style: italic;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #fafafa; outline: none !important; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #edede7;}
form label{
    margin-left: 0.9784em;
    display:block;
}
form label:after {content:":";}
form label::after {content:":";}

form label.radio-box:after{ content:" ";}
form label.radio-box::after{ content:" ";}

.text label {

    /*display:block;*/
}
.text:first-child {float:left;}

textarea {
    color:inherit;
    font-size:inherit;
    display:block;
    white-space:pre-wrap;
    height: auto;

    /*CSS3*/
    resize:vertical;
}
select {
    width: 100%;
    padding: 9px;  
}
optgroup,option
{
    display: block;
    white-space: nowrap;
}

optgroup[label],option[label] 
{
    content: attr(label);
}
option[selected]::before 
{ 
    display: inline;
    content: check; 
}



/* Tables ----------------------------------------------- */
table { 
    background: #fafafa; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
     border-radius: 3px; 
     margin: 0 0 18px; 
     border: 1px solid #eee;
}
table thead, table tfoot { 
    background: #f5f5f5; 
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td { font-size: 14px; line-height: 18px; text-align: left; }

table thead tr th, table tfoot tr td { padding: 8px 10px 9px; font-size: 16px; font-weight: bold; color: #222; }

table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }

table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

table tbody tr.even, table tbody tr.alt { background: #fafafa; }

table tbody tr:nth-child(even) { background: #f6f6f6; }

table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

/* Some -------------------------------------------------------------*/

a[href^="mailto:"]:before { 
    content: "\2709"; 
}

/* Oct 16 2012 helpers from perisahble

http://perishable.com

 */

article[id*=post-] {}           /* target all posts */
article[id*=post-] header h1 {} /* target all post h1 tags */
article[id*=post-] section p {} /* target all post p tags */
article[id*=comment-] {}           
article[id*=comment-] header h1 {} 
article[id*=comment-] section p {} 


/* IDS -------------------------------------------------------------- */

#corporate-project{

}
#project{


}
#wrapper {
    width:100%;
    text-align:left;
    position: relative;
    margin: 0 .325em 0 0;
    border-bottom:1px dashed #ccc;
    line-height: 170%;
    z-index: 0;
}
#our-mission {
    width: 32%;
    float:left;
    padding:0.985em;
        /* CSS3 enhancements */
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
#our-vision {
    width: 32%;
    float:left;
    padding:0.985em;
    margin-left: 0.652em;
    border-left: 1px solid #ccc;
        /* CSS3 enhancements */
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
#our-values {
    width: 32%;
    float:left;
    padding:0.985em;
    margin-left: 0.652em;
        /* CSS3 enhancements */
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

/* Location Objects */
#googlemap img, object {
    max-width: none;
}
#map_canvas img {
    max-width: none;
}
#map_canvas object {
    max-width: none;
}
#sitemap-navigation{

    float:left;

}
#social-network{

    float:left;

}
#social-network li{
    list-style:none;
    color:inherit;
    font-size:inherit;
}
#social-network li a{
    *display:inline;
    display:inline-block;

}

ul[class='nav-social'] li a { 
 background-repeat: no-repeat; 
 background-position: 3px 6px; 
 padding-left: 25px; 
} 

 /* Icons */ 
 
.nav-social a[class='sngplus'] {background-image: url('../images/icons/googleplus.png');} 
.nav-social a[class='snfb'] {background-image: url('../images/icons/facebook.png');} 
.nav-social a[href*='/feed/'] {background-image: url('../images/icons/rss.png');} 
.nav-social a[class='sntweet'] {background-image: url('../images/icons/twitter.png');}

#selected-articles, #archives{
    text-align:left;
    width:25%;
    padding:0 .6em 0 0;
    height: 100%;
    min-height:100%;
    height: auto !important;

}
#weblog-company, #corporate-articles, #form-corporate, .corporate-slideshow{
    /*width:70%;*/
    min-width: 0;
    max-width: 100%;
    height:auto;
    min-height:100%;
    padding:1em;
    margin:0;
}
#postcomment{} 
#commentform {} 

/*HTML5 drag and drop */

#drop-area {
    border: 1px dashed #edede7;
    padding: 2.13%;
    margin-bottom: 2em;
    color:#9d9d9d;
    font-style:italic;
    text-align:center;
}
#file-list {
    list-style: none;
    margin-bottom: 3em;
}
#file-list li {
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
#file-list li.no-items {
    border-bottom: none;
}
#file-list div {
    margin-bottom: 0.5em;
}
/* Classes -------------------------------------------------------------- */

.left {
    float: left;
}
.right {
    float: right;
}
.clearleft {
    clear: left;
}
.clear {
    clear: both;
}

/* Oct 15 2010 helpers from Delfi Ramirez for nastymondays.com 

http://projects.delfiramirez.info/nastymondays/site-2010/

 */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Header */
.corporate-logo {
    padding:0;
    display:block;
    border:none;
    height: 100%;
    height: auto !important;
    margin-bottom: 0.923em;
    overflow:hidden;


}
.title-logo{
    float:left;
    width:auto;

    min-height:100px;
    background-image:url(../../images/400x100-logo.png);
    background-position: top left;
    background-repeat: no-repeat;
    /* CSS3 spec */
    background-origin: border-box, content-box; 
    background-size:100%;
    background-size: contain;
    max-width:400px;
    max-height:100px;

}
.banner{
    clear:both;
    width:150px;
    min-width:0;
    height:350px;
    min-height:0;
    margin:5px;
    border: 1px solid #edede7;
    font-size: 50%;
    color: #d9d6d7;
    background:gray;

}
/*Navigation */

.nav-header{
    position:absolute;
    top:0;
    left:0;
    background:none;
    margin-left: auto;
    margin-right: auto;
    width:98%;
    height:100%;
    min-height: 1.745em;
    height: auto !important;

}
.main-nav {
    overflow:hidden;
    margin:0;
    padding:0;
    list-style:none;
    background:#4c4c4c;
    font:1.45em/3 serif;

}
.main-nav li {
    float:left;
    margin:0;
    padding:0;
    color:inherit;
    font-size:inherit;
}
.main-nav a {
    display:block;
    padding:0 12px;
    border-right:1px solid #e6e6e7;
    border-left:1px solid #e6e6e7;
    color:#fafafa;
    background:transparent;
    text-decoration:none;
}
.main-nav a:hover,
.main-nav a:focus {    
    color:#090909;
    font-size:inherit;
}
.main-nav .sel a {background:#4c4c4c;}
.main-nav .sel a:hover,
.main-nav .sel a:focus {background:#4d4d4d;}
.main-nav strong {font-weight:normal;}

/* Subnavigation */

.article-navigation{
    list-style:none;
    margin:5px;


}
.article-navigation li{

    display:inline;
    margin: 0 2% 0 0;
}
.article-navigation li a{

    display:inline-block;
}
.ca-lang,.en-lang, .es-lang{
    /*Currently here blokes put styles for icon flags; but I do highly recommend to avoid icon flags */

}
.nav-social{
    /*Here goes those icons you see around in  favourite social links */

}

/*Content */

.cell{
    display:table-cell;
    padding:8%;
    margin : 1.27em;
    background : #fafafa;
    border: 1px solid #ccc;
    text-align:left;
    text-justify:distribute;

}
.cell img{

    border:inherit;
    float:left;
}
.company-location{
    display:block;
    margin: 0 0 0.625em 0;
    font-weight:200;
}
.contact{
    width:70%;
    height:100%;
    min-height: 100%;
    height: auto !important;

}
.language{
    z-index: 5;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline;
    float: right;
    width:150px;
    height:40px;

}
.language ul{

    display:block;
    width: auto;
    height:auto;
    margin: 1em auto;
    position:relative;
}
.language ul li{
    display: inline;
    display: inline-block;
    list-style: none;
    height: 30px;
    width: 50px;
}

.language li a {
    display: block;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 10px 0 0 0;
    margin: 0;
}
.language >li>a {
    padding: 1.571428571428571em 0.5em;
}

.location-image{
    float:left;
    width:100%;
    height:auto;
    min-width:fit-content;

}
.progress{

}

.panel{
    float:left;
    margin-left:10px;
    padding:0;
    height:auto;
    background:#666;
}
.read-more{
    /*text-align:right;*/
    font-size:85%;
    font-style:italic;
    padding:2% 0 0 0 ;
}

.read-more a{
    text-decoration:none;
}
.read-more a::after{
    content:" >>";
}
.row{
    height:auto;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    margin: 0 0 40px;
    padding: 0 0 0 60px;
    overflow: hidden;
    clear: both;
}

.thumb{
    float:left;
    margin:5px;
    border: 1px solid #edede7;
    font-size: 50%;
    color: #d9d6d7;
    background:gray;
    display:block;
    max-width:100%;
    min-width:0;
    width:50%;
    max-height:100%;
    min-height:0;
    height:50%;
}

.updated{
    position:relative;
    top:0;
    right:20px;
    display:block;
    left:auto;
    height: 2em;
    padding:1%;
    margin:5px;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.column{
    float:left;
    width:33.3333333%;
    min-width: 0;
    max-width: 100%;
    height:auto;
    min-height:100%;
    padding:1em;
    margin:0;

}

.weblog,
.weblog-article, .web-article, .web-section, .columns{
    float:left;
    width:65%;
    height:auto !important;
    margin:0;
    padding:1%;
}
.wide{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
    }
.window{
    display:none;
    background:#020202;
    opacity:0.9;
    filter:alpha(opacity=90);
    position:absolute;
    top:0px;
    left:0px;
    min-width:100%;
    min-height:100%;
    z-index:1000;
}
/* Window panel with some content */

.window-panel{
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-200px;
    width:400px;
    background:transparent;
    padding:10px 15px 10px 15px;
    border:2px solid #4b4b4b;
    z-index:1001;
}
/* Forms */

.contact{
    width:auto;
    padding:1em;
    margin:0;
}

.tab{
    position: relative;
    margin: 40px auto;
    width: auto;
}
}
.tab1, .tab2, .tab3, .tab4, .tab5{
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
    width:auto;
    min-width: 70%;
    margin:0;
    border: 1px solid #ddd;
}
.tab1{

    left:150px;
}
.tab2{

    left:300px;
    z-index:1;
}
.tab3{

    left:450px;
    z-index:2;
}
.tab4{

    left:600px;
    z-index:3;
}
.tab1 legend,.tab2 legend, .tab3 legend, .tab4 legend {
    background: #edede7;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 20px;
    clear:both;
    display: block;
    width: auto;
    color: #020202;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}
.search-nav{

}
.subscription-done{


}
.radio-box{
    display:inline;
    padding:0 1% 0 .675em;
}
.text .radio-box{
    margin-left: 1.235em;
}
.spoken-form label{
    display:inline-block;
    font:inherit;
}

/*Footer */

footer p:first-letter { font-size: 145%; }

footer ul{
    display:block;
    width: 35.675%;
    height:auto;
    margin: 1em auto;
}

footer ul li{
    display: inline;
    margin-right: 10px;

}
footer ul li a{
    display:inline-block;
}

/* no-js */
.no-js{

}
/* ie hacks */

.content{
    height: auto;
    margin: 0;
}
.web-section {
    position: relative;
}

/* Oct 16 2012 helpers from bootstrap.css

http://twitter.github.com/bootstrap

Twitter Bootstrap have become a UI standard, so we use it to not disturb our users 

 */

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}



/*  Copyright v 0.1 2012 Delfi Ramirez for Training Course on Web Project following HTML5 standards

Corporate CSS Theme is distributed under the GNU General Public License, Version 2,
 June 1991. Copyright (C) 1989, 1991 Free Software Foundation, Inc., 51 Franklin
 St, Fifth Floor, Boston, MA 02110, USA

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
